## This file is a general .ucf for Nexys3 rev B board
## To use it in a project:
## - remove or comment the lines corresponding to unused pins
## - rename the used signals according to the project

# Clock signal
NET "clk100"            LOC = "P55" | IOSTANDARD = "LVCMOS33";   #Bank = 2, pin name = IO_L30N_GCLK0_USERCCLK,            Sch name = GCLK
Net "clk100" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 80 MHz;

#NET "tdc_strobe"            LOC = "V10" | IOSTANDARD = "LVCMOS33";   #Bank = 2, pin name = IO_L30N_GCLK0_USERCCLK,            Sch name = GCLK
Net "tdc_strobe" TNM_NET = strobe_clk;
TIMESPEC TS_strobe_clk = PERIOD strobe_clk 40 MHz;

## Leds
NET "Led<0>"         LOC = "P102" | IOSTANDARD = "LVCMOS33";   
NET "Led<1>"         LOC = "P101" | IOSTANDARD = "LVCMOS33";   
NET "Led<2>"         LOC = "P100" | IOSTANDARD = "LVCMOS33";   
NET "Led<3>"         LOC = "P99" | IOSTANDARD = "LVCMOS33";  


## Usb-RS232 interface
NET "uart_rx"         LOC = "P35" | IOSTANDARD = "LVCMOS33";   
NET "uart_tx"         LOC = "P34" | IOSTANDARD = "LVCMOS33";   

NET "ASD_STROBE_P"    LOC = "P124"  | IOSTANDARD = "LVDS_33";   
NET "ASD_STROBE_N"    LOC = "P123"  | IOSTANDARD = "LVDS_33";  

NET "TDC_SER_P"       LOC = "P132"  | IOSTANDARD = "LVDS_33" | DIFF_TERM = "TRUE";   
NET "TDC_SER_N"       LOC = "P131"  | IOSTANDARD = "LVDS_33" | DIFF_TERM = "TRUE";   

NET "TDC_CLK_P"       LOC = "P134"  | IOSTANDARD = "LVDS_33"; #| SLEW = "QUIETIO";   
NET "TDC_CLK_N"       LOC = "P133"  | IOSTANDARD = "LVDS_33"; #| SLEW = "QUIETIO";  

NET "TDC_ENC_P"       LOC = "P138"  | IOSTANDARD = "LVDS_33";   
NET "TDC_ENC_N"       LOC = "P137"  | IOSTANDARD = "LVDS_33";   

NET "TDC_STROBE_P"    LOC = "P140"  | IOSTANDARD = "LVDS_33" | DIFF_TERM = "TRUE" | CLOCK_DEDICATED_ROUTE = "FALSE";   
NET "TDC_STROBE_N"    LOC = "P139"  | IOSTANDARD = "LVDS_33" | DIFF_TERM = "TRUE" | CLOCK_DEDICATED_ROUTE = "FALSE";   

NET "GPIO0_P"       LOC = "P62"  | IOSTANDARD = "LVDS_33";   
NET "GPIO0_N"       LOC = "P61"  | IOSTANDARD = "LVDS_33";  

NET "GPIO1_P"       LOC = "P58"  | IOSTANDARD = "LVDS_33";   
NET "GPIO1_N"       LOC = "P57"  | IOSTANDARD = "LVDS_33";  

NET "GPIO2_P"       LOC = "P51"  | IOSTANDARD = "LVDS_33";   
NET "GPIO2_N"       LOC = "P50"  | IOSTANDARD = "LVDS_33";  

NET "PULSE_BANK<0>"    LOC = "P92"  | IOSTANDARD = "LVCMOS33";  
NET "PULSE_BANK<1>"    LOC = "P93"  | IOSTANDARD = "LVCMOS33";  
NET "PULSE_BANK<2>"    LOC = "P94"  | IOSTANDARD = "LVCMOS33";   
NET "PULSE_BANK<3>"    LOC = "P95"  | IOSTANDARD = "LVCMOS33";   
NET "PULSE_BANK<4>"    LOC = "P97"  | IOSTANDARD = "LVCMOS33";  
NET "PULSE_BANK<5>"    LOC = "P98"  | IOSTANDARD = "LVCMOS33";  

NET "I2C_SCL1"   LOC = "P79"  | IOSTANDARD = "LVCMOS33";   
NET "I2C_SDA1"   LOC = "P78" | IOSTANDARD = "LVCMOS33";   
NET "I2C_SCL2"   LOC = "P120" | IOSTANDARD = "LVCMOS33";   
NET "I2C_SDA2"   LOC = "P121" | IOSTANDARD = "LVCMOS33";   

NET "JTAG_TDI"   LOC = "P143" | IOSTANDARD = "LVCMOS33";   
NET "JTAG_TDO"   LOC = "P144" | IOSTANDARD = "LVCMOS33";   
NET "JTAG_TCK"   LOC = "P142" | IOSTANDARD = "LVCMOS33";   
NET "JTAG_TMS"   LOC = "P141" | IOSTANDARD = "LVCMOS33";   

NET "DVDD_GS0"    LOC = "P119"  | IOSTANDARD = "LVCMOS33";  
NET "DVDD_GS1"    LOC = "P118"  | IOSTANDARD = "LVCMOS33";  
NET "DVDD_EN"     LOC = "P116"  | IOSTANDARD = "LVCMOS33"; 
NET "DVDD_FAULT"  LOC = "P117"  | IOSTANDARD = "LVCMOS33";  

NET "AVDD_GS0"    LOC = "P115"  | IOSTANDARD = "LVCMOS33";  
NET "AVDD_GS1"    LOC = "P114"  | IOSTANDARD = "LVCMOS33";  
NET "AVDD_EN"     LOC = "P111"  | IOSTANDARD = "LVCMOS33"; 
NET "AVDD_FAULT"  LOC = "P112"  | IOSTANDARD = "LVCMOS33";  
  

